<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="view/css/bootstrap/bootstrap.min.css">
  <!-- My css -->
  <link rel="stylesheet" href="view/css/style.css">

  <title>Time to work!</title>
</head>

<body>
  <header>
    <nav class="sidenav">
      <div class="nav-items">
        <a href="/">Time to work!</a>
        <a href="/departments">Отделы</a>
        <a href="/employees">Сотрудники</a>
        <a href="/tasks">Задачи</a>
      </div>
    </nav>
  </header>